<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Termoservis" />
    <title>@ViewBag.Title - Termoservis</title>
	
	<link href="/bundles/css" rel="stylesheet" />
	<script src="/bundles/modernizr"></script>

	<script type="text/javascript">
        var appInsights=window.appInsights||function(config){
            function r(config){t[config]=function(){var i=arguments;t.queue.push(function(){t[config].apply(t,i)})}}var t={config:config},u=document,e=window,o="script",s=u.createElement(o),i,f;for(s.src=config.url||"//az416426.vo.msecnd.net/scripts/a/ai.0.js",u.getElementsByTagName(o)[0].parentNode.appendChild(s),t.cookie=u.cookie,t.queue=[],i=["Event","Exception","Metric","PageView","Trace"];i.length;)r("track"+i.pop());return r("setAuthenticatedUserContext"),r("clearAuthenticatedUserContext"),config.disableExceptionTracking||(i="onerror",r("_"+i),f=e[i],e[i]=function(config,r,u,e,o){var s=f&&f(config,r,u,e,o);return s!==!0&&t["_"+i](config,r,u,e,o),s}),t
        }({
            instrumentationKey:"025d8c00-3106-4d91-a93e-0d292bde81e7"
        });
        
        window.appInsights=appInsights;
        appInsights.trackPageView();
    </script>
</head>
<body>

<nav class="navbar navbar-fixed-top navbar-full navbar-light bg-faded">
	<div class="container">
		<button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar2">
			&#9776;
		</button>
		<div class="collapse navbar-toggleable-xs" id="exCollapsingNavbar2">
			@Html.ActionLink("TERMOSERVIS", "Index", "Home", new {area = ""}, new {@class = "navbar-brand"})
			<div class="nav navbar-nav">
				<a>@Html.ActionLink("Početna", "Index", "Home", new {area = ""}, new {@class = "nav-item nav-link"})</a>
				@Html.Partial("_LoginPartial")
			</div>
		</div>
	</div>
</nav>

<div class="container">
	@RenderBody()
</div>
	
<script src="/bundles/jquery"></script>
<script src="/bundles/tether"></script>
<script src="/bundles/bootstrap"></script>

@RenderSection("scripts", required: false)
</body>
</html>
