@using Termoservis.Models
@using Termoservis.Web.Extensions
@using Termoservis.Web.Helpers
@using Termoservis.Web.Models.Customer
@model Termoservis.Models.WorkItem
    
@{
    // Note: Fix for input field name prefix having extra `workItem.` value where is not needed
    ViewData.TemplateInfo.HtmlFieldPrefix = "";
}

<tr data-toggle="collapse" data-target="#workItemEdit-@Model.Id" class="accordion-toggle">
    <td>@Html.DisplayFor(model => model.Date)</td>
    <td>@(EnumHelper<WorkItemType>.GetDisplayValue(Model.Type))</td>
    <td>
        @if (Model.AffectedDevices != null)
        {
            foreach (var affectedDevice in Model.AffectedDevices)
            {
                <div>@affectedDevice.Name</div>
            }
        }
    </td>
    <td>
        @if (Model.Worker != null)
        {
            @Model.Worker.Name
        }
    </td>
    <td>@Html.DisplayFor(model => model.Price) kn</td>
    <td nowrap="nowrap">@Html.DisplayWithBreaksFor(model => model.Description)</td>
</tr>
<tr>
    <td colspan="6" style="padding: 0 !important; border: none;">
        <div class="accordion-body collapse" id="workItemEdit-@Model.Id" style="background-color: rgb(249, 249, 249)">
            @Html.Partial("_WorkItemDetailsPartial", new WorkItemFormViewModel("Edit", false, Model, Model.Customer))
        </div>
    </td>
</tr>
