@using Termoservis.Web.Helpers
@model IEnumerable<Termoservis.Models.WorkItem>
    
<div class="form-group row">
    <div class="col-md-12">
        <table class="table table-hover">
            <thead class="thead-default">
            <tr>
                <th></th>
                <th>@Html.DisplayColumnNameFor(Model, model => model.Date)</th>
                <th>@Html.DisplayColumnNameFor(Model, model => model.Price)</th>
                <th>@Html.DisplayColumnNameFor(Model, model => model.Description)</th>
                <th>@Html.DisplayColumnNameFor(Model, model => model.Device)</th>
            </tr>
            </thead>
            <tbody>
            @if (Model.Any())
            {
                foreach (var workItem in Model.OrderByDescending(item => item.Date))
                {
                    @Html.DisplayFor(model => workItem, "WorkItemTableRow")
                }
            }
            else
            {
                <tr>
                    <td class="text-muted" colspan="5">Korisnik nema stavki</td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>
