@using Termoservis.Models
@using Termoservis.Web.Helpers
@using Termoservis.Web.Models.Customer
@model Customer
    
<div class="form-group row">
    <div class="col-md-12">
        <table class="table table-hover">
            <thead class="thead-default">
            <tr>
                <th>@Html.DisplayColumnNameFor(Model.WorkItems, model => model.Date)</th>
                <th>@Html.DisplayColumnNameFor(Model.WorkItems, model => model.Type)</th>
                <th>@Html.DisplayColumnNameFor(Model.WorkItems, model => model.AffectedDevices)</th>
                <th>@Html.DisplayColumnNameFor(Model.WorkItems, model => model.Worker)</th>
                <th>@Html.DisplayColumnNameFor(Model.WorkItems, model => model.Price)</th>
                <th>@Html.DisplayColumnNameFor(Model.WorkItems, model => model.Description)</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td style="cursor: pointer; color: #1e90ff" colspan="6" data-toggle="collapse" data-target="#workItemEdit-new" class="accordion-toggle">
                    <div>
                        <i class="fa fa-plus-circle" aria-hidden="true"></i>
                        <span>Dodaj novu stavku</span>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="6" style="padding: 0 !important; border: none;">
                    <div class="accordion-body collapse" id="workItemEdit-new">
                        @Html.Partial("_WorkItemDetailsPartial", new WorkItemFormViewModel("Create", new WorkItem {Customer = Model, CustomerId = Model.Id}))
                    </div>
                </td>
            </tr>
            @if (Model.WorkItems.Any())
            {
                foreach (var workItem in Model.WorkItems.OrderByDescending(item => item.Date))
                {
                    @Html.DisplayFor(model => workItem, "WorkItemTableRow")
                }
            }
            else
            {
                <tr>
                    <td class="text-muted" colspan="6">Korisnik nema stavki</td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>

<script language="javascript" type="text/javascript">
    $(document).ready(function() {
        $(".workitem-edit-datepicker").datepicker({
            format: "dd.mm.yyyy",
            language: "hr",
            calendarWeeks: true,
            autoclose: true
        });
    });
</script>
