@model Termoservis.Web.Models.Customer.CustomerDeviceFormViewModel
    
@using (Html.BeginForm(Model.ActionName, "Customers", FormMethod.Post, new {@class = "col-xs-12 bg-light shadow-sm", role = "form", style = ""}))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new {@class = "text-danger"})
    @Html.HiddenFor(model => model.Device.Id)
    @Html.HiddenFor(model => model.CustomerId)

    <div style="padding: 1em;">
        <div class="row">
            <div class="col-sm-12">
                <div class="row form-group">
                    @Html.LabelFor(model => model.Device.Name, htmlAttributes: new { @class = "form-control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.Device.Name, new { htmlAttributes = new { @class = "form-control", tabindex = "1" } })
                        @Html.ValidationMessageFor(model => model.Device.Name, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="row form-group">
                    @Html.LabelFor(model => model.Device.Manufacturer, htmlAttributes: new { @class = "form-control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.Device.Manufacturer, new { htmlAttributes = new { @class = "form-control", tabindex = "2" } })
                        @Html.ValidationMessageFor(model => model.Device.Manufacturer, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="row form-group">
                    @Html.LabelFor(model => model.Device.CommissionDate, htmlAttributes: new { @class = "form-control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.TextBoxFor(model => model.Device.CommissionDate, "{0:dd.MM.yyyy}", htmlAttributes: new { @class = "form-control customerdevice-edit-datepicker", tabindex = "3" })
                        @Html.ValidationMessageFor(model => model.Device.CommissionDate, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-12">

                <button class="btn btn-primary" click="$(this).closest('form').submit()" tabindex="4">
                    <i class="fa fa-floppy-o" aria-hidden="true"></i>
                    <span>&nbsp;Spremi</span>
                </button>

                <input type="submit" value="Submit" hidden="hidden" />
            </div>
        </div>
    </div>
}
