@model Termoservis.Web.Models.Customer.WorkItemFormViewModel

@using (Html.BeginForm(Model.ActionName, "WorkItems", FormMethod.Post, new {@class = "col-xs-12", role = "form", style = "background-color: rgb(249, 249, 249)" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new {@class = "text-danger"})
    @Html.HiddenFor(model => model.WorkItem.Id)
    @Html.HiddenFor(model => model.WorkItem.CustomerId)

    <div style="padding: 1em;">
        <div class="row">
            <div class="col-lg-3">
                <div class="row form-group">
                    @Html.LabelFor(model => model.WorkItem.Type, htmlAttributes: new { @class = "form-control-label col-md-3" })
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.WorkItem.Type, new { htmlAttributes = new { @class = "form-control", tabindex = "1" } })
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                <div class="form-group row">
                    @Html.LabelFor(model => model.WorkItem.Date, htmlAttributes: new {@class = "form-control-label col-md-3"})
                    <div class="col-md-9">
                        @Html.TextBoxFor(model => model.WorkItem.Date, "{0:dd.MM.yyyy}", htmlAttributes: new { @class = "form-control workitem-edit-datepicker", tabindex = "2" })
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="form-group row">
                    @Html.LabelFor(model => model.WorkItem.Price, htmlAttributes: new {@class = "form-control-label col-md-3"})
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.WorkItem.Price, new {htmlAttributes = new {@class = "form-control", tabindex = "3", step = "100"}})
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="form-group row">
                    @Html.LabelFor(model => model.WorkItem.Worker, htmlAttributes: new {@class = "form-control-label col-md-4"})
                    <div class="col-md-8">
                        <select class="form-control" data-val="true" data-val-number="The field Serviser must be a number." id="WorkItem_WorkerId" name="WorkItem.WorkerId" tabindex="4">
                            @foreach (var worker in Model.AvailableWorkers.OrderBy(w => w.Disabled))
                            {
                                var isSelected = Model.WorkItem.WorkerId.HasValue && worker.Value == Model.WorkItem.WorkerId.Value.ToString();
                                <option value="@worker.Value" @(isSelected ? "selected='selected'" : "") @(worker.Disabled ? "disabled='disabled'" : "")>@worker.Text</option>
                            }
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-12">
                <div class="row">
                    @Html.LabelFor(model => model.WorkItem.Description, htmlAttributes: new {@class = "form-control-label col-sm-12"})
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        @Html.TextAreaFor(model => model.WorkItem.Description, htmlAttributes: new {@class = "form-control", rows = "4", tabindex = "5", style = "max-width: 510px;"})
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-12">
                
                <button class="btn btn-primary" click="$(this).closest('form').submit()" tabindex="6">
                    <i class="fa fa-floppy-o" aria-hidden="true"></i>
                    <span>&nbsp;Spremi</span>
                </button>
                
                <input type="submit" value="Submit"  hidden="hidden" />
            </div>
        </div>
    </div>
}
