@model Termoservis.Models.WorkItem

<div class="row">
    <div class="col-lg-6">
        <div class="form-group row">
            @Html.LabelFor(model => model.Date, htmlAttributes: new { @class = "form-control-label col-md-2" })
            <div class="col-md-10">
                <div>@Html.DisplayFor(model => model.Date)</div>
            </div>
        </div>
            
        <div class="form-group row">
            @Html.LabelFor(model => model.Price, htmlAttributes: new { @class = "form-control-label col-md-2" })
            <div class="col-md-10">
                <div>@Html.DisplayFor(model => model.Price)</div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="form-group row">
            @Html.LabelFor(model => model.Worker, htmlAttributes: new { @class = "form-control-label col-md-2" })
            <div class="col-md-10">
                <div>@Html.DisplayFor(model => model.Worker)</div>
            </div>
        </div>

        <div class="form-group row">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "form-control-label col-md-2" })
            <div class="col-md-10">
                <div>@Html.DisplayFor(model => model.Description)</div>
            </div>
        </div>
    </div>
</div>