@model Termoservis.Models.Customer

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-sm-12">
        <ol class="breadcrumb bg-faded">
            <li class="breadcrumb-item">@Html.ActionLink("Početna", "Index", "Home")</li>
            <li class="breadcrumb-item">@Html.ActionLink("Korisnici", "Index", "Customers")</li>
            <li class="breadcrumb-item active">@Model.Name</li>
        </ol>
    </div>
</div>

<div>
    <div class="row">
        <div class="col-sm-12">
            <h1>@Model.Name</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <p>
                @Html.ActionLink("Edit", "Edit", new { id = Model.Id })
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">

            <div class="row">
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-sm-12 h5">
                            @Html.DisplayNameFor(model => model.Note)
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            @if (!string.IsNullOrWhiteSpace(Model.Note))
                            {
                                @Html.DisplayFor(model => model.Note)
                            }
                            else
                            {
                                <div class="text-sm-left text-muted small">Nema zapisa</div>
                            }
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-sm-12 h5">
                            @Html.DisplayNameFor(model => model.Address.StreetAddress)
                            <button type="button" class="btn btn-secondary btn-sm" style="padding: .05rem .15rem;" data-toggle="modal" data-target="#address-modal">
                                <svg style="width: 24px; height: 24px; margin-bottom: -6px" viewBox="0 0 24 24">
                                    <path fill="#444" d="M15,19L9,16.89V5L15,7.11M20.5,3C20.44,3 20.39,3 20.34,3L15,5.1L9,3L3.36,4.9C3.15,4.97 3,5.15 3,5.38V20.5A0.5,0.5 0 0,0 3.5,21C3.55,21 3.61,21 3.66,20.97L9,18.9L15,21L20.64,19.1C20.85,19 21,18.85 21,18.62V3.5A0.5,0.5 0 0,0 20.5,3Z" />
                                </svg>
                            </button>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            @Html.DisplayFor(model => model.Address)
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-sm-12 h5">
                            @Html.DisplayNameFor(model => model.TelephoneNumbers)
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            @Html.DisplayFor(model => model.TelephoneNumbers, "TelephoneNumbers")
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-sm-12 h5">
                            @Html.DisplayNameFor(model => model.Email)
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            @if (!string.IsNullOrWhiteSpace(Model.Email))
                            {
                                @Html.DisplayFor(model => model.Email)
                            }
                            else
                            {
                                <div class="text-muted small">Nema zapisa</div>
                            }
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-12 h5">
                            @Html.DisplayNameFor(model => model.WorkItems)
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            @Html.DisplayFor(model => model.WorkItems, "WorkItems")
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-12 text-muted small">
                            Korisnik je stvoren @Html.DisplayFor(model => model.CreationDate) (@Html.DisplayFor(model => model.ApplicationUser.UserName))
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="address-modal" tabindex="-1" role="dialog" aria-labelledby="address-modal-title" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="address-modal-title">@Model.Name</h4>
            </div>
            <div class="modal-body">
                    <iframe width="870"
                            height="620"
                            frameborder="0" style="border: 0"
                            src="https://www.google.com/maps/embed/v1/place?key=AIzaSyANxFs2LiQt22BTYv16dSviRiZSHGLpmCQ&q=@Model.Address.StreetAddress.Split(new []{' '}, StringSplitOptions.RemoveEmptyEntries).Union(Model.Address.PlaceId.HasValue ? Model.Address.Place.Name.Split(new []{' '}, StringSplitOptions.RemoveEmptyEntries).Union(new[]{Model.Address.Place.Country.Name}) : new List<string>()).Aggregate(string.Empty,(c,s) => c + "+" + s)" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>
