@model Termoservis.Models.Customer

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h1>@Model.Name</h1>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Address.StreetAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.Note)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Note)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.TelephoneNumbers)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TelephoneNumbers, "TelephoneNumbers")
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreationDate)
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.WorkItems)
        </dt>
        
        <dd>
            @Html.DisplayFor(model => model.WorkItems, "WorkItems")
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
